body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.34;
 
}

.container{
    width: 80%;
    overflow: hidden;
    margin: auto;
}

a{
    text-decoration: none;
}
header{
    background-color: #3b5998;
    color: #fff;
}
header h1{
    float: left;
}
header a h1{
    color:#fff;
}
.right{
    float: right;
}
.right table{
    margin: 10px 0px;
    font-size:11px;
 
}
.right table input{
    border: 1px solid #ccd0d5;
    padding: 3px;
    font-size: 12px;
    background-color: #fff;
    border: none;

}
.right td{
    padding-left: 8px;
    border-color: #1d2a5b;
}
.right td a{
    color: #fff;
    text-decoration: none;
    
}
.right td a:hover{
    color: #fff;
    text-decoration: none;
    
}
.right table td a button{
    background-color:#4267b2;
    color:#fff;
    text-decoration: none;
    border:  1px solid #3b5998;
}
    
.right td.forg{
   padding-top: 4px;
   text-align: center;
}
.right table td a button:hover{
    cursor: pointer;
    color: #fff;
    border: 1px solid #4267b2;
}

section{
    background-color: #ebedf0;
    background-size: cover;
 
}
section.conntect{
    font-weight: bold;
    font-size: 0.2em;
    float: left;
    

}
 section.create{
     float: right;
     width: 40%;

}
.create h1{
    font-size:40px;
     color: #1d2129;
     white-space: nowrap;
}
.create h4{
    color: #4b4f56;
    font-size:18px;
    font-weight: normal;
    line-height: 28px;
    
}
.create input{
    height: 30px;
    border-radius: 5px;
    border: transparent;
    border: 1px solid #bdc7d8;
    padding: 5px;
    font-size: 18px;
    padding: 8px 10px;
  
}
    
.create .set{
    margin-top: 5px;
    border: 1px solid #bdc7d8;
    width: 80%;
}
.create.bg{
    height: auto;
  

}
.create button{
    padding: 8px 40px;
    background-color: #5d9143;
    color: #fff;
    border: none;
    border-radius: 5px;
    min-width: 194px;
    padding: 7px 20px;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.create button:hover{
cursor: pointer;
font-weight: bold;
background-color: #61a14f;
}

label{
    display: block;
    padding: 0.7rem;
    font-weight: bold;
    color: gray;

}
.create p{
    color: #777;
    font-size: 11px;
    width: 316px
}
.create a{
    color: #385898;
    text-decoration: none;
}
select{
    border: 1px solid #ccd0d5;
    font-size: 13px;
    height: 30px;
    padding: 5px;
}
.btn{
    margin: 0 auto 0 auto;
    padding-bottom: 30px;
}
footer span{
    color: #385898;
    cursor: pointer;
}
footer{
    font-size: 12px;
    margin-left:18px;
}
.end{
    font-size: 11px;
 margin-left: 15px;
 color: #737373;

}
.class1{
    border-bottom: 1px solid #dddfe2;
    font-size: 1px;
    height: 8px;
    margin-bottom: 8px;
}
@media only screen and (max-width:503px){
    .right table input{
        font-size: 10px;
    }
    @media only screen and (max-width:444px){
        .right table input{
            font-size: 8px;
        }
@media only screen and (max-width:505px){
    .right table td a button{
        width:60px;
    }
}

@media only screen and (max-width:400px){
    .right table td{
        text-align: center;
       
    }
    .right table input{
        text-align: center;
    }

}
@media only screen and (max-width:530px){
   .create h1{
    font-size:36px;
    font-weight: bold;
   }
}
@media only screen and (max-width:479px){
    .create h1{
     font-size:33px;
     font-weight: bold;
    }
 }
@media only screen and (max-width:439px){
    .create h1{
     font-size:30px;
     font-weight: bold;
    }
 }
 @media only screen and (max-width:399px){
    .create h1{
     font-size: 20px;
     font-weight: bold;
    }
    .create h4{
        font-size:15px;
    }
 }
 @media only screen and (max-width:491px){
    .create .set input{
        width: 65%;
        font-size: 15px;
        border: 1px solid #bdc7d8;
        height: 30px;
        border-radius: 5px;
        border: transparent;
        padding: 3px;
        padding: 6px 8px;

    }
}
@media only screen and (max-width:418px){
    .create .set {
        margin-top: 5px;
        border: 1px solid #bdc7d8;
        width: 70%;
    }
    @media only screen and (max-width:412px){
        .create .set1{
            margin-top: 5px;
            border: 1px solid #bdc7d8;
            width: 62%;
        }
        @media only screen and (max-width:318px){
            .create .set1 .set{
                margin-top: 5px;
                border: 1px solid #bdc7d8;
                width: 52%;
            }
        @media only screen and (max-width:412px){
            .create .set {
                margin-top: 5px;
                border: 1px solid #bdc7d8;
                width: 62%;
            }
        @media only screen and (max-width:393px){
            .create p{
                color: #777;
                font-size:10px;
                width:219px
            }
            @media only screen and (max-width:285px){
                .create input{
                    width:9px;
            }